services:
  bot:
    image: "bot"
    stop_signal: SIGINT
    build:
      context: .
    working_dir: /app
    volumes:
      - .:/app
    # ASOSIY O'ZGARISH SHU YERDA:
    command: python app.py
    restart: always
    env_file:
      - ".env"
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"